@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.wallet-adapter-button {
  background-color: #18181b !important; /* Equivalent to bg-zinc-900 */
  padding: 0.5rem 1.25rem !important; /* Equivalent to px-5 py-2 */
  border-radius: 0.25rem !important; /* Equivalent to rounded */
  transition: background-color 0.2s ease-in-out !important; /* Equivalent to transition-colors */
}

.wallet-adapter-button:hover {
  background-color: #27272a !important; /* Equivalent to hover:bg-zinc-800 */
}